<ng-container *ngIf="{ loggedIn: (isLoggedIn | async) } as observables">
  <mat-toolbar color="primary"> <!-- *ngIf="isLoggedIn$ | async as isLoggedIn"> -->
    <span>
      CRM Application
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="home">Home</button>
    <button mat-button routerLink="login" *ngIf="!observables.loggedIn">Login</button>
    <!--button mat-button routerLink="login" *ngIf="!isLoggedIn; else notLoggedIn">Login</button>
    <ng-template #notLoggedIn>
      <button mat-button (click)="onLogout()">Logout</button>
    </ng-template -->
    <button mat-button (click)="onLogout()" *ngIf="observables.loggedIn">Logout</button>
  </mat-toolbar>
  </ng-container>