<div fxLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'">
  <div fxLayout="column" style="width: 50%" fxLayoutGap="10px">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

      <mat-card class="card-container mat-elevation-z3 outline">
        <mat-card-header style="margin-bottom: 8px;">
          <mat-card-title-group>
            <mat-card-title>Document</mat-card-title>
            <mat-card-subtitle>Create new</mat-card-subtitle>
          </mat-card-title-group>
          <div fxFlex></div>
          <mat-card-actions [align]="'end'">
            <button mat-raised-button type="button">Cancel</button>
            <button mat-raised-button [disabled]="!form.valid" type="submit">Save</button>
          </mat-card-actions>
        </mat-card-header>

        <mat-card-content>
          <div fxLayoutAlign="left">
            <mat-form-field style="width:35%" appearance="fill">
              <mat-label>Document date</mat-label>
              <input matInput [matDatepicker]="documentDatePicker" placeholder="Document date" formControlName="documentDate" (dateChange)="onDateChanged($event)">
              <mat-datepicker-toggle matSuffix [for]="documentDatePicker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #documentDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width:25%" appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select formControlName="documentType">
                <mat-option *ngFor="let type of documentTypes" [value]="type.name">{{type.description}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width:35%" appearance="fill">
              <mat-label>Title</mat-label>
              <input type="text" matInput placeholder="Title" [formControl]="documentTitle" [matAutocomplete]="autoTitle">
              <mat-autocomplete #autoTitle="matAutocomplete" [displayWith]="displayTitle" autoActiveFirstOption >
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <mat-option *ngFor="let title of titles" [value]="title">{{title}}</mat-option>
              </mat-autocomplete>
              <button type="button" *ngIf="documentTitle.value" matSuffix mat-icon-button aria-label="Clear" (click)=clearDocumentTitle()>
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="left" *ngIf="counterpartyVisible()">
            <mat-form-field style="width:60%" appearance="fill">
              <mat-label>Counterparty</mat-label>
              <input type="text" matInput placeholder="Counterparty" [formControl]="counterparty" [matAutocomplete]="autoCounterparty"> <!-- (blur)="onCounterpartyBlur($event)" -->
              <mat-autocomplete #autoCounterparty="matAutocomplete" [displayWith]="displayCounterparty" autoActiveFirstOption> <!-- (optionSelected)="onCounterpartySelected($event) -->
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <mat-option *ngFor="let cprt of counterparties | async" [value]="cprt">{{cprt.shortname}}</mat-option>
              </mat-autocomplete>
              <button type="button" mat-button matSuffix mat-icon-button aria-label="add" *ngIf="addCounterpartyVisible()" (click)="onAddCounterparty()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="left" *ngIf="bankStatementVisible()">
            <mat-form-field style="width:100%" appearance="fill">
              <mat-label>Bank statement</mat-label>
              <mat-select formControlName="statementDetail" (selectionChange)="onStatementDetailChange($event.value)">
                <mat-option *ngFor="let detail of statementDetails" [value]="detail">{{displayDetail(detail)}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="left">
            <mat-form-field style="width:45%" appearance="fill">
              <mat-label>Account</mat-label>
              <input type="text" matInput placeholder="Account" [formControl]="account" [matAutocomplete]="autoAccount">
              <mat-autocomplete #autoAccount="matAutocomplete" [displayWith]="displayAccount" autoActiveFirstOption >
                <mat-option *ngFor="let account of accounts | async" [value]="account">{{account.username}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field style="width:30%" appearance="fill">
              <mat-label>Payment Method</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option *ngFor="let method of paymentMethods" [value]="method.name">{{method.description}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-container mat-elevation-z3 outline" style="padding-top: 4px; margin-top: 9px;">
        <app-add-event [events]="events"></app-add-event>
      </mat-card>

      <mat-card *ngIf="eventListVisible" class="card-container mat-elevation-z3 outline" style="padding-top: 4px; margin-top: 9px;">
        <app-event-list [events]="events"></app-event-list>
      </mat-card>
    </form>
  </div>
  <div>
    <mat-card>
      <div class="mat-body-2">Impératif</div>
      <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes,
        interfaces, héritage ...</div>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <div class="mat-body-2">Impératif</div>
      <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes,
        interfaces, héritage ...</div>
    </mat-card>
  </div>
</div>