<div fxLayout="row" fxLayoutGap="12px" [style.margin-top]="'6px'">
  <div fxLayout="column" style="width: 20%; margin-right: 6px;">
    <mat-card>
      <div class="mat-body-2">Stetements</div>
      <div class="mat-body-1">List of bank statements</div>
    </mat-card>
  </div>
  <div fxLayout="column" style="width: 80%">
    <mat-card>
      <div class="mat-body-2">Stetements</div>
      <div class="mat-body-1">List of bank statements</div>
      <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="reportDate" matSortDirection="desc" class="mat-elevation-z8">
        <!-- Index Column -->
        <ng-container matColumnDef="num">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
          <td mat-cell *matCellDef="let i = index">{{ this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize }}
          </td>
        </ng-container>

        <!-- FileName Column -->
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>File Name</th>
          <td mat-cell *matCellDef="let element"> {{ element.fileName }} </td>
        </ng-container>

        <!-- ReportDate Column -->
        <ng-container matColumnDef="reportDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Report Date</th>
          <td mat-cell *matCellDef="let element"> {{ element.reportDate }} </td>
        </ng-container>

        <!-- Account Column -->
        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
          <td mat-cell *matCellDef="let element"> {{ element.account.username }} </td>
        </ng-container>

        <!-- ItemsCount Column -->
        <ng-container matColumnDef="itemsCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Items</th>
          <td mat-cell *matCellDef="let element"> {{ element.itemsCount }} </td>
        </ng-container>

        <!-- TotalAmount Column -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let element"> {{ element.totalAmount | currency: 'zł'}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" [routerLink]="['/statement/import/', element.id]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalElements" aria-label="Select page of users"></mat-paginator>
    </mat-card>
  </div>    
</div>