<div class="form-row" [formGroup]="event">  
  <input type="hidden" formControlName="id">
  <mat-form-field style="width:30%" appearance="fill">
    <input matInput [formControl]="product" placeholder="Product" [matAutocomplete]="autoProduct">
    <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayProduct" autoActiveFirstOption >
    </mat-autocomplete>    
  </mat-form-field>    
  <mat-form-field style="width:9%" appearance="fill">
    <input matInput [formControl]="count" style="text-align: right;" placeholder="Count">
  </mat-form-field>
  <mat-form-field style="width:9%" appearance="fill">
    <input matInput [formControl]="price" style="text-align: right;" placeholder="Price">
  </mat-form-field>
  <mat-form-field style="width:9%" appearance="fill">
    <input matInput [formControl]="total" style="text-align: right;" placeholder="Total">
  </mat-form-field>
  <mat-form-field style="width:30%" appearance="fill">
    <input matInput [formControl]="comment" placeholder="Comment">
  </mat-form-field>
  <!-- <mat-icon class="delete-btn" (click)="removeEvent()">delete_forever</mat-icon> -->
</div>